    /* //////////////////////////////////////////////////////////////// */
    /* //////////////////// remove gaps in mobile //////////////////// */
    /* removes gap on right in mobile safari */
    * {
        box-sizing: border-box
      }
  
      .columns,
      .columns:last-child {
        margin: 0
      }
  
      /* removes gap on right in mobile chrome */
      ::-webkit-scrollbar {
        display: none;
      } 
      /* //////////////////// remove gaps in mobile //////////////////// */
      /* /////////////////////////////////////////////////////////////// */
  
  

      @media screen and (min-width: 1281px) {

      #body_logo {
          width: 400px;
      }

      #body_paragraph {
        width: 550px;
      }

        #mobile_content {
          width: 50%;
        }

        #youtube {
          width: 50%;
        }
    }



      @media (min-width:641px) {

        #mobile_logo {
          width: 170px;
        }

        #youtube {
          width: 100%;
        }





      }


      /* |||||||||||||||||||||||||||||||||||||||||||||| */   
      /* ||||||||||||||| mobile queries ||||||||||||||| */
      @media (min-width:320px) {
  
        #desktop_nav {
          display: none;
        }
  
        #youtube {
          padding: 0px;
        }
  
        #mobile_logo {
          display: block;
          width: 170px;
          margin-left: 20px;
          padding-top: 20px;
        }
  
        #body_logo {
          display: none;
        }
  
        #burger_div {
          display: block;
        }
  
        #header_logo {
          display: block;
        }
  
        #nav_hr {
          display: none;
        }
  
        #desktop_buttons {
          display: none;
        }
  
        #body_paragraph {
          display: none;
        }
  
        #burger {
          display: block;
          margin-top: 50px;
          color: #191918;
          margin-right: 15px;
        }
  
        #desktop_content {
          display:none;
        }

        #header {
          background-color: #fbfaf5;
          height: 165px;
      }

      .column {

        padding:0px;
      }
  
  
      } 
      /* ||||||||||||||| end mobile queries ||||||||||||||| */
      /* |||||||||||||||||||||||||||||||||||||||||||||||||| */  
  

      /* |||||||||||||||||||||||||||||||||||||||||||||||||| */ 
      /* ||||||||||||||| desktop queries |||||||||||||||||| */
      @media (min-width:961px) {
  
        .columns.is-mobile>.column.is-two-thirds {
          flex: none;
          width: 100%;
        }

        #desktop_content {
          display:block;
          width:80%;
        }

        .column {
          padding:1em;
        }

        iframe {
          border-radius: 5px;
      }

        .textarea {
          height: 246px;
        }
  
        #youtube {
          padding: 21px;
          max-width: 820px;
        }
  
        #burger_div {
          display: none;
        }
  
        #burger {
          display: none;
        }
  
        #mobile_logo {
          display: none;
        }
  
        #body_logo {
          display: block;
          max-width: 250%;
        }
  
        #body_paragraph {
          display: block;
        }
  
        #desktop_buttons {
          display: block;
        }
  
        #nav_hr {
          display: block;
          
        }
  
        #contentContainer {
          width: 80%;
          height: 460px;
          margin: 0 auto;
        }
  
        .mobile_content {
          display: none;
        }
  
        #mobile_content {
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 10px;

          float:left;
          display:block;
        }
  
        #body_paragraph {
          width: 410px;
  
        }
  
        #header_logo {
          display: none;
        }
  
        #youtube {
          float: right;
          margin-bottom: 25px;
          margin: 0;
          padding:0px;
        }
  
        #content {
          width: 100%;
          margin: auto;
        }
  
        #desktop_nav {
          display: block;
          color: white;
          margin-bottom: 30px;
          height: 50px;
          padding: 3rem 1.5rem;
          padding-top: 43px;
        }
  
        #burger_div {
          display: none;
        }

        #header {
          background-color: #fbfaf5;
          height: 125px;
      }
  
      }
      /* ||||||||| end desktop queries ||||||||| */
      /* ||||||||||||||||||||||||||||||||||||||| */
  
  
  
  
      body {
        background-color: white;
        font-family: 'Signika', sans-serif;
        color: #191918;
      }
  
      .nav_active {
        text-decoration: underline;
      }
  
      a:hover .nav_active {
  
        color: #191918;
  
      }
  
      .nav_links {
        color: #121212;
      }
  
      #nav_social {
        float: right;
  
      }
  
      #nav_hr {
        background-color: #19191870;
        width: 95%;
        margin: auto;
        margin-bottom: 1em;
        /* margin: 21px; */
      }
  
      #desktop_nav a:link {
        font-size: 25px;
        color: white;
      }

      #desktop_nav a:hover {
        text-decoration: underline;
      }
  
      #desktop_nav {
        margin-bottom: 50px;
      }
  
      .mobile_content {
        padding-top: 0px;
      }
  
      .signika {
        font-family: 'Signika', sans-serif;
      }
  
      .marginRight-20 {
        margin-right: 20px;
      }
  
      #navLogo {
        width: 180px;
        display: block;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
      }
  
      .button-style {
        border: 2px solid #191918;
        color: #191918;
        font-family: 'Signika', sans-serif;
      }
  
      .navIcons a:hover {
        color: #dbdbdb;
      }
  
      .navIcons {
        padding: 0px;
        display: inline;
        color: #121216de;
        font-size: 60px
      }
  
      #desktop_nav_link a:hover {
        color: #dbdbdb;
        text-decoration: underline;
      }
  
      .marginBottom-10 {
        margin-bottom: 10px;
      }
  
      .marginTop-16 {
        margin-top: 16px;
      }
  
      .footer {
        padding: 23px;
      }
  
      .colorChange {
        color: #c1c1c1;
        margin-right: 15px;
      }
  
      .colorChange-sidebar {
        color: #121212eb;
        margin-right: 15px;
      }
  
      .transparent {
        background: #0a0a0a99;
      }
  
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        background-color: #fbfaf5;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 100px;
      }
  
      .sidenav a {
        padding: 0px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
      }
  
      .sidenav a:hover {
        color: #f1f1f1;
      }
  
      .sidenav .closebtn {
        position: absolute;
        top: -4px;
        right: 18px;
        font-size: 70px;
        margin-left: 50px;
      }
  
      @media screen and (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
        }
  
        .sidenav a {
          font-size: 18px;
        }
      }
  
      #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
      }
  
      .footer_social_icons {
        font-size: 21px;
      }
  
  
      #listen_section {
        width:100%;
        background-color:#989894;
        color:white;
      }
  
  h1 {
    font-size: 36px;
  }
  
  .margin-bottom30 {
    margin-bottom: 30px;
  }

  .margin-top30 {
    margin-top: 30px;
  }
  


  .display_block {
      display: block;
  }


  #home_p {
    display:inline-block;
  }